---
import Section from "@/components/Section.astro";
import { skills } from "@/cv.json";
---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name, level, keywords }) => (
        <li>
          <span>{name}</span>
          <br />
          <span>{level}</span>
          <br />
          <span>{keywords}</span>
        </li>
      ))
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  li {
    border-radius: 6px;
    background: #27708C;
    color: black;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
</style>
